*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


.navbar{
background-color: #000000;
opacity: 0.7;
font-family:Arial, Helvetica, sans-serif ;
display: flex;
justify-content: space-around;
align-items: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(187, 177, 177);
    list-style: none;
    width: 90%;
    padding: 18px 0px;
    margin: 0 20px;
    font-family:  SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
}

.hero-section-1{
    background-image: url(./assets/Image1.jpg);
    width: 100%;
    height: 570px;
    background-repeat: no-repeat
    ;
    background-position: center;
}

.hero-sec-1-contant{
    display: flex;
flex-direction: column;
justify-content: flex-end;
height: 90%;
width: 100%;
align-items: center;
}


.hero-sec-1-contant h2{
    font-weight: 900;
    font-size:3.5rem;
    padding-bottom: 6px;
}

#sec-line{
    font-size: 1.6rem;
    font-weight: 250px;
}

#thir-line{
    color: white;

}


 